    <div class="navbar-lewagon">
    <div class="navbar-item">
                <i class="fas fa-redo"></i>
                   <%= link_to ' back', restaurants_path%>
    </div>
    </div>
  <div class="box">
      <h1><%=@restaurant.name%></h1>
      <h3>Located in: <%=@restaurant.address%> </h3>
      <h3>Phone: <%=@restaurant.phone_number%></h3>
      <h4>Category: <%=@restaurant.category%></h4>
  </div>

<div class="form-box">
  <h2>New Review:</h2>
      <%= simple_form_for [ @restaurant, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating, collection: Review::RATINGS %>
        <%= f.submit :class => 'submit-button'%>
      <% end %>
</div>
